body {
    background-color: rgb(182, 117, 117);
    font-family: Georgia, serif;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(68, 39, 39);
}
thead {
    background: #888;
  }
  
td, th, tr {
    padding: 20px;
    border: solid 1px black;
  }
